@model List<bAnglaShoper.ComEntities.Product>
@{
    ViewBag.Title = "ProductTable";
}

<div>
    <form method="post" action="/Product/ProductTable">
        <br />
        <div class="input-group">
            
            <input name="Search" id="searchTxt" aria-describedby="button-addon4" class="form-control" placeholder="search product......." />
            <div class="input-group-append" id="button-addon4">
                <button type="button" id="searchBtn" class="btn btn-info">Search</button>
                <button type="button" id="newBtn" class="btn btn-primary">New</button>
            </div>
        </div>
    </form>
</div>
<br />
<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
            <tr>
                <th scope="row">@product.ID</th>
                <td>@product.Name</td>
                <td>
                    @if (product.Category != null)
                    {
                        <text>@product.Category.Name</text>
                    }
                    else
                    {
                        <text>-</text>
                    }
                </td>
                <td>@product.Price</td>
                <td>
                    <button type="button" class="editBtn" data-id="@product.ID">Edit</button>
                    <button type="button" class="deleteBtn" data-id="@product.ID">Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>

    
</div>
<script>
    //Get Search result after click search button
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();
        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search: searchValue
            }
        })
        .done(function (response) {
                $("#tblContainer").html(response);
                
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL")
        });
    });

    //Create Product show after click new button
    $("#newBtn").click(function () {      
        $.ajax({
            url: '/Product/Create',        
        })
            .done(function (response) {
                $("#actionContainer").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL")
            });
    });

    // Edit button
    $(".editBtn").click(function () {
        $.ajax({
            url: '/Product/Edit',
            data: {
                ID: $(this).attr('data-id')
            }
        })
            .done(function (response) {
                $("#actionContainer").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL")
            });
    });

    // Delete button
    $(".deleteBtn").click(function () {
        var confirmation = confirm("Are you sure to delete this product?");
        if (confirmation)
        {
            $.ajax({
                type: 'POST',
                url: '/Product/Delete',
                data: {
                    ID: $(this).attr('data-id')
                }
            })
                .done(function (response) {
                    $("#tblContainer").html(response);

                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL")
                });
        }
       
    });
</script>

